<! DOCTYPE html>
  <html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>许愿墙</title>
  </head>

  <body>
    <h2 class="title" style="">快来写上您的愿望吧</h2>

    <div id="container" data-list="{{list}}"></div>

    <form action="add" method="post" id="form" style="height: 136px; ">

      <input type="text" class="input" id="name" name="name" placeholder="说出你的大名">

      <input id="content" class="input" type="text" placeholder="许个愿吧" name="content" />

      <button class="submit" type="submit">提交</button>
    </form>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script>
      var container = $('#container');
      // 颜色
      var colors = ['#207de0', '#42baec', '#e3e197', '#6cde47', '#ecc733'];
      //创建许愿便笺
      var createItem = function (name, content) {
        var color = colors[parseInt(Math.random() * 5)];
        $('<div class="item"><p>' + name + ':</p><p>' + content + '</p><a href = "#" > 关闭</a ></div > ').css({ 'background': color }).appendTo(container);
      };
      var list = container.attr('data-list'); // 获取元素container的属性data-list
      // 循环遍历list，创建便笺
      $.each(JSON.parse(list), function (i, v) {
        createItem(v.name, v.content);
      });
    </script>
  </body>

  </html>